<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.memallapi.dao.UserDao">

	<resultMap id="BaseResultMap" type="com.example.memallapi.entity.User">
		<id column="id" property="id" />
		<id column="name" property="name" />
		<id column="type" property="type" />
		<id column="password" property="password" />
	</resultMap>
	<sql id="Base_Column_List">
		id, name, type, password
	</sql>
	
</mapper>